absl-py==1.0.0
aiosignal==1.2.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
chembl-webresource-client==0.10.8
click==8.1.2
cloudpickle==1.3.0
cycler==0.11.0
Cython==0.29.28
decorator==5.1.1
Deprecated==1.2.13
distlib==0.3.4
dm-tree==0.1.7
easydict==1.9
fcd-torch==1.0.7
filelock==3.6.0
flatbuffers==1.12
fonttools==4.32.0
frozenlist==1.3.0
future==0.18.2
gast==0.4.0
google-auth==2.6.5
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
gym==0.19.0
gym-notices==0.0.6
h5py==3.6.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
joblib==1.1.0
jsonschema==4.4.0
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
libclang==13.0.0
lightgbm==2.2.3
lz4==4.0.0
Markdown==3.3.6
matplotlib==3.5.1
molsets==0.1.3
MolVS==0.1.1
msgpack==1.0.3
numpy==1.22.3
oauthlib==3.2.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
Pillow==7.2.0
platformdirs==2.5.2
protobuf==3.20.0
py4j==0.10.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyglet==1.5.0
pyparsing==3.0.8
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
ray==1.8.0
rdkit-pypi==2022.3.1
redis==4.2.2
requests==2.27.1
requests-cache==0.7.5
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==0.22
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
tabulate==0.8.9
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
tensorflow-estimator==2.7.0
tensorflow-gpu==2.7.0
tensorflow-io-gcs-filesystem==0.24.0
tensorflow-probability==0.11.1
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
tfp-nightly==0.10.0.dev20200414
threadpoolctl==3.1.0
torch==1.11.0
tqdm==4.64.0
typing_extensions==4.2.0
url-normalize==1.4.3
urllib3==1.26.9
virtualenv==20.14.1
Werkzeug==2.1.1
wrapt==1.14.0
zipp==3.8.0
